.badge {
    display: inline-block;
    position: relative;
    left: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
    &--green {
      background-color: #42B883;
    }
    &--blue {
      background-color: #64C4ED;
    }
    &--pink {
      background-color: #FFBBCC;
    }
    &--grey {
        background-color: #C9D1D3;
      }
    &--lime {
      background-color: #B6E6BD;
    }
    &--purple {
        background-color: #C355F5;
    }
    &--black {
        background-color: #110133;
    }
    &--red {
        background-color: #FF6464;
    }
  }