.tasks {
    &__title {
      font-family: Montserrat;
      font-weight: bold;
      font-size: 32px;
      line-height: 39px;
      color: #64C4ED;
      padding-bottom: 20px;
      border-bottom: 2px solid #F2F2F2;

      &:hover {
          img {
              opacity: 0.2;
          }
      }

      img {
          opacity: 0;
          margin-left: 1rem;

          &:hover {
              opacity: .8;
          }
      }
    }

    &__form {
        margin-top: 3rem;

        &-block {
            .button {
                margin-right: 10px;
                margin-top: 15px;
            }
        }
        &-new {
            display: flex;
            align-items: center;
            cursor: pointer;
            opacity: .4;
            transition: opacity 0.15s ease-in-out;

            &:hover {
                opacity: .8;
            }

            img {
                width: 24px;
                height: 24px;
                margin-left: 5px;
            }
            span {
                font-size: 16px;
                margin-left: 1rem;
            }
        }
    }

    &__items {
        margin-top: 3rem;
        &-row {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            input {
                margin-left: 2rem;
                border: 0;
                font-size: 16px;
                width: 100%;
            }
        }
        h2 {
            font-family: Montserrat;
            font-weight: bold;
            font-size: 32px;
            color: #c9d1d3;
            text-align: center;

            
        }
    }
    .checkbox {
        input {
            display: none;
        }

        &:hover {
            label {
                background: #F2F2F2;
                border-color: #F2F2F2;
                svg {
                    opacity: 1;
                    path {
                        stroke: #b3b3b3;
                    }
                }
            }
        }
        label {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #e8e8e8;
            border-radius: 30px;
            width: 30px;
            height: 30px;
            cursor: pointer;
            transition: background-color 0.15s ease-in-out;

            svg {
                opacity: 0;
            }
        }
        input:checked + label {
            background: #4DD599;
            border-color: #4DD599;
            svg {
                opacity: 1;
                path {
                    stroke: #fff;
                }
            }
        }
    }
  }