.add-list {
    &__popup {
        width: 21vw;
        height: 21vh;
        background: #fff;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        padding: 30px;
        box-sizing: border-box;
        position: relative;

        .button {
            width: 100%;
            margin-top: 15px;
        }

        &-close-btn {
            position: absolute;
            right: -13px;
            top: -13px;
            cursor: pointer;
        }

        &-colors {
            margin-top: 15px;
            display: flex;
            justify-content: space-between;

            .badge {
                width: 25px;
                height: 25px;
                cursor: pointer;
                border: 2px solid transparent;

                &.active {
                    border: 2px solid #525252;
                }
            }
        }
    }
}