* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: 'Roboto', -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo {
  display: flex;
  position: absolute;
  height: 100vh;
  width: 100vw;

  &__sidebar {
    background-color: #E5E5E5;
    width: 15vw;
    border-right: 2px solid #F1F1F1;
    padding: 3rem 5rem;
  }

  &__tasks {
    flex: 1;
    overflow: hidden;
    padding: 3rem 10rem;
  }
}

.field {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 15px;
  font-style: 14px;

  &:focus {
    border: 1px solid rgb(192, 192, 192);
  }
}

.button {
  background: #4DD599;
  border-radius: 4px;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  

  &:hover {
    background: darken(#4DD599, 6);
  }

  &:active {
    background: darken(#4DD599, 10);
  }

  &:disabled {
    background-color: #d8d8d8;
  }

  &--grey {
    background-color: #F4F6F8;
    color: #444444;

    &:hover {
      background: darken(#f4f6f8, 3);
    }
    &:active {
      background: darken(#f4f6f8, 6);
    }
  }
}